<!DOCTYPE html>
<html lang="en" ng-app="PhonecatApp">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body  ng-controller="PhoneListCtrl">                                                            <!--控制器PhoneListCtrl-->
    <ul>
        <li ng-repeat="phone in phones">                                                         <!--迭代器显示数组-->
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
</body>
</html>



















<!--<html ng-app="ngAppDemo">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<script src="lib/angular.js"></script>-->
    <!--<script src="js/controllers.js"></script>-->
<!--</head>-->
<!--<body  ng-controller="PhoneListCtrl">-->
<!--<ul>-->
    <!--<li ng-repeat="phone in phones">-->
        <!--<span>{{phone.name}}</span>-->
        <!--<p>{{phone.snippet}}</p>-->
    <!--</li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->