<!DOCTYPE html>
<html lang="en" ng-app="PhonecatApp">
<head>
<meta charset="UTF-8">
<title>HelloWorld</title>
<script src="lib/jquery-1.11.2.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="js/HelloWorld.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body  ng-controller="PhoneListCtrl">                                                            <!--控制器PhoneListCtrl-->
	Hello, {{yourname}}!
	<hr>
	Your name: <input type="text" ng-model="inputYourName" placeholder="world"><br>
	Hello {{ inputYourName || 'world'}}
	<hr>
	<p>Nothing here {{'yet' + '!'}}</p>
	<hr>
	<p>1 + 2 = {{ 1 + 2 }}</p>
	============================================================================================================================
	<ul>
		<li>
			<span>Nexus S</span>
			<p>Fast just got faster with Nexus S.</p>
		</li>
		<li>
			<span>Motorola........</span>
			<p>The  Next........</p>
		</li>
	</ul>
    ============================================================================================================================
    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
	============================================================================================================================
    <p>{{hello}}</p>
    <p>Total number of phones: {{phones.length}}</p>                                         <!--表的行数-->
    <table  class="table table-hover table-responsive">
        <tr><th>id</th><th>row number</th></tr>
        <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6]"><td>{{i}}</td><td>{{i}}</td></tr>         <!--迭代器创建一个简单的表-->
    </table>
    ================================================================================================================================
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                Search: <input ng-model="query">
            </div>
            <div class="span10">
                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query">                 <!-- 过滤器  -->
                        {{phone.name}}                                              <!--filter过滤器：filter函数使用query的值来创建一个只包含匹配query记录的新数组。-->
                        <p>{{phone.snippet}}</p>                                    <!-- ngRepeat会根据filter过滤器生成的手机记录数据数组来自动更新视图。整个过程对于开发者-->
                                                                                    <!--来说都是透明的。-->
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>	
</html>













